<!-- bg-gradient-to-r from-[#abd373] to-[#73777c] -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
  <div
    class="container w-screen  p-8 rounded"
  >
    <!-- Header with Add Product Button -->
    <div class="flex justify-between items-center mb-8">
      <h2 class="text-4xl font-bold text-gray-800">Inventory</h2>
      <button
        routerLink="/add-product"
        class="flex items-center gap-2 bg-gray-900  text-white px-6 py-3 rounded shadow-lg hover:shadow-xl hover:from-[#5c6166] hover:to-[#abd373] transition-all duration-300"
      >
        <i class="fa-solid fa-plus"></i> Add Product
      </button>
    </div>

    <!-- Product Table -->
    <div class="overflow-x-auto rounded shadow-lg">
      <table class="w-full border-collapse">
        <thead
          class="bg-gray-900 text-white uppercase text-sm tracking-wider"
        >
          <tr>
            <th class="px-8 py-4 text-left">Product Name</th>
            <th class="px-8 py-4 text-left">Price</th>
            <th class="px-8 py-4 text-left">Category</th>
            <th class="px-8 py-4 text-left">Stock</th>
            <th class="px-8 py-4 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr
            *ngFor="let product of products"
            class="hover:bg-gray-50 transition-all duration-200"
            [routerLink]="['/admin/product/'+product.id]"
          >
            <td class="px-8 py-2 text-gray-800 font-semibold">
              {{ product.title }}
            </td>
            <td class="px-8 py-2 text-gray-600">
              {{ product.price | currency }}
            </td>
            <td class="px-8 py-2 text-gray-600">{{ product.categoryName }}</td>
            <td class="px-8 py-2 text-gray-600">
              <span
                class="px-3 py-1 rounded-full text-sm font-medium"
                [ngClass]="{
                  'bg-green-100 text-green-700': product.stock > 10,
                  'bg-yellow-100 text-yellow-700':
                    product.stock <= 10 && product.stock > 0,
                  'bg-red-100 text-red-700': product.stock === 0
                }"
              >
                {{
                  product.stock === 0
                    ? "Out of Stock"
                    : product.stock + " in Stock"
                }}
              </span>
            </td>
            <td class="px-8 py-2 flex justify-center gap-4">
              <!-- Edit Button -->
              <button
                (click)="openUpdatePanel(product)"
                class="p-2 text-gray-600 bg-gray-100 rounded-lg hover:bg-gradient-to-r hover:from-[#abd373] hover:to-[#3B82F6] hover:text-white transition-all duration-300"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>
              <!-- Delete Button -->
              <button
                (click)="deleteProduct(product.id)"
                class="p-2 text-gray-600 bg-gray-100 rounded-lg hover:bg-gradient-to-r hover:from-[#F87171] hover:to-[#EF4444] hover:text-white transition-all duration-300"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

