@keyframes scale-up4 {
  20% {
    background-color: #ffffff;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}
@layer utilities {
  .animate-scale-up4 {
    animation: scale-up4 1s linear infinite;
  }
}
